.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    width: 100%;
    padding: 30px 5px 84px;
    margin: 0 auto;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
