@import 'styles/CommonVariables.module.scss';

.container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .block {
        background-color: white;
        display: flex;
        box-shadow: $box-shadow;
        padding: 20px;
        margin: 20px 0;

        .content {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: center;

            p {
                margin-top: 5px;
                font-size: 20px;
            }

            &:first-child  {
                border-right: 1px solid #dedede;;
                p { color: $success-color; }
            }
            &:last-child {
                p { color: $danger-color; }
            }
        }
    }
}